#ricerca {
    background-color: #f5f5f5;
    padding: 20px;
}


#form {
    width: 60%;
    background-color: #f5f5f5;
}

/*#content {
    display: none;
}*/

#film {
    display: none;
}


#tbody_film TR {
    cursor: pointer;
}

.modal-content {
    width: 800px;
    height: 600px;
}

#dettaglio_tab TD {
    width: 200px;
    height: 200px
    
}

footer {
    position: absolute;
    width: 60%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.navbar-nav{
	float: right;
}